<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Portal</title>
    <link
      rel="shortcut icon"
      href="/../Sources/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,500;0,800;1,800&family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;0,900;1,700&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/../tailwind.config.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/../styles/styles.css" />
    <link rel="stylesheet" href="/../styles/common.css" />
    <link rel="stylesheet" href="/../styles/DarkLightButton.css" />
    <link rel="stylesheet" href="/../styles/admin.css" />
  </head>

  <body class="dark:bg-[#121212] bg-[#dfdfdf] transition-colors duration-1000">
    <%- include ('../Partials/adminNavbar.ejs') %>
    <div class="main-container">
      <div class="main">
        <div class="box-container">
          <a href="/">
          <div class="box ">
            <div class="text">
              <h2 class="topic-heading">
                <%= totalaccounts %> <i class="fa-sharp fa-solid fa-desktop"></i>
              </h2>
              <h2 class="topic">Accounts Monitored</h2>
            </div>
          </div>
        </a>
        <a href="/">
          <div class="box ">
            <div class="text">
              <h2 class="topic-heading">
                <%= totalblocked %> <i class="fa-sharp fa-solid fa-ban"></i>
              </h2>
              <h2 class="topic">Accounts Blocked</h2>
            </div>
          </div>
        </a>
        <a href="/">
          <div class="box">
            <div class="text">
              <h2 class="topic-heading">
                <%= totalverified %> <i class="fa-solid fa-circle-check"></i>
              </h2>
              <h2 class="topic">Accounts Verified</h2>
            </div>
          </div>
        </div>
      </a>
      <% if(reports.length > 0){ %>
        
        <div
          class="report-container bg-[#f7f7f7] dark:bg-[#0f0f0f] text-black dark:text-white transition-colors duration-1000"
        >
          <div
            class="report-header bg-[#f7f7f7] dark:bg-[#0f0f0f] transition-colors duration-1000"
          >
            <h1 class="recent-Articles">Reports</h1>
          </div>
          
          <div class="report-body">
            <div class="heading_rep">
              <h3 class="t-op">From User</h3>
              <h3 class="t-op">To User</h3>
              <h3 class="t-op">Action</h3>
            </div>
            <% for(i=0; i< reports.length; i++) { %>
            <div class="items">
              <div class="item1">
                <h3 class="t-op-nextlvl"><%= reports[i].fromUserId %></h3>
                <h3 class="t-op-nextlvl"><%= reports[i].toUserId %></h3>
                <button onclick=viewReport() id="<%= i %>" class="t-op-nextlvl label-tag">View</button>
              </div>

             
              <% } %>

            </div>
            </div>
          
        </div>
        
        <% } else{ %>
          <div
            class=" mt-12 report-header bg-[#f7f7f7] dark:bg-[#0f0f0f] transition-colors duration-1000"
          >
            <h1 class="recent-Articles">No Reports</h1>
          </div>
          <%} %>
      </div>
    </div>

    <script src="/../javascript/helpers/UserHelpers.js"></script>
    <script src="/../javascript/helpers/LoginSignUpHelpers.js"></script>
    <script src="/../javascript/Login.js"></script>
    <script src="/../javascript/admin.js"></script>
    <script src="/../javascript/DarkLighButton.js"></script>
  </body>
</html>
