<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/../Sources/favicon.ico"
      type="image/x-icon"
    />
    <title><%= title %></title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/../tailwind.config.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/../styles/common.css" />
    <link rel="stylesheet" href="/../styles/styles.css" />
    <link rel="stylesheet" href="/../styles/DarkLightButton.css" />
    <link rel="stylesheet" href="/styles/profile.css" />
    <link rel="stylesheet" href="/styles/followListItem.css" />
    <link rel="stylesheet" href="/../styles/editProfile.css" />
    <link rel="stylesheet" href="/styles/chat.css" />
    <link rel="stylesheet" href="/styles/userSetting.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body class="bg-[#fff] dark:bg-black transition-colors duration-1000">
    <nav
      class="navbar__own fixed top-0 z-50 w-full transition-colors duration-1000 bg-[#DFDFDE] dark:bg-[#121212] border-b-2 border-purple-600"
    >
      <div class="px-3 py-4 lg:px-5 lg:pl-3">
        <div class="flex items-center justify-between">
          <div class="flex items-center justify-start">
            <button
              data-drawer-target="logo-sidebar"
              data-drawer-toggle="logo-sidebar"
              aria-controls="logo-sidebar"
              type="button"
              class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            >
              <span class="sr-only">Open sidebar</span>
              <svg
                class="w-6 h-6"
                aria-hidden="true"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  clip-rule="evenodd"
                  fill-rule="evenodd"
                  d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
                ></path>
              </svg>
            </button>
            <a href="/post/posts" class="flex ml-2 md:mr-24">
              <img
                src="/../Sources/logo.png"
                class="h-8 mr-2"
                alt="FlowBite Logo"
              />
              <span
                class="self-center hidden sm:block text-gray-800 dark:text-white text-lg font-semibold sm:text-2xl whitespace-nowrap dark:text-white"
                >BeYou</span
              >
            </a>
          </div>
          <div class="flex items-center">
            <div class="flex items-center ml-3">
              <div><%- include("../Partials/addPost.ejs") %></div>
              <div class="sm:pl-5 pl-3">
                <a href="/notification">
                  <button
                    class="flex text-sm rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600 transition ease-in-out hover:scale-125"
                  >
                    <svg
                      class="w-5 h-5 sm:w-5 sm:h-5 flex justify-center items-center text-gray-800 rounded-full dark:text-gray-200"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-6 h-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0"
                      />
                    </svg>
                    <%= notificationsNumber %>
                    <!-- <i class="fa fa-bell w-10 h-10 flex justify-center items-center text-black-800 rounded-full dark:text-white" aria-hidden="true"></i> -->
                  </button>
                </a>
              </div>
              <div class="sm:pl-5 pl-3">
                <button
                  type="button"
                  class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600 transition ease-in-out hover:scale-105"
                  aria-expanded="false"
                  data-dropdown-toggle="dropdown-user"
                >
                  <span class="sr-only">Open user menu</span>
                  <img class="w-8 h-8 rounded-full" src="<%=
                  userData.profileImage ? userData.profileImage :
                  'https://virtualpiano.net/wp-content/uploads/2020/08/Dua-Lipa-Artist-Online-Piano-Keyboard-Virtual-Piano.jpg'
                  %>" alt="user photo" />
                </button>
              </div>
              <div class="sm:pl-5 pl-2">
                <div class="theme-container shadowlight w-7 h-7">
                  <img
                    id="theme-icon"
                    src="https://www.uplooder.net/img/image/2/addf703a24a12d030968858e0879b11e/moon.svg"
                    alt="ERR"
                  />
                </div>
              </div>
              <div
                class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-purple-300 rounded shadow dark:bg-[#2b2b2b] dark:divide-purple-600"
                id="dropdown-user"
              >
                <div class="px-4 py-3" role="none">
                  <p class="text-sm text-gray-900 dark:text-white" role="none">
                    Dua Lipa lover
                  </p>
                  <p
                    class="text-sm font-medium text-gray-900 truncate dark:text-gray-300"
                    role="none"
                  >
                    dualip@gmail.com
                  </p>
                </div>
                <ul class="py-1" role="none">
                  <li>
                    <a
                      href="#"
                      class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                      role="menuitem"
                      >Dashboard</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                      role="menuitem"
                      >Settings</a
                    >
                  </li>
                  <li>
                    <a
                      href="/auth/signout"
                      class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                      role="menuitem"
                    >
                      Sign out
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <aside
      id="logo-sidebar"
      class="fixed top-0 left-0 z-40 w-56 md:w-64 h-screen transition-transform -translate-x-full border-r border-gray-200 sm:translate-x-0 dark:border-gray-700 dark:bg-[#121212] bg-[#DFDFDE] transition-colors duration-1000"
      aria-label="Sidebar"
    >
      <div
        class="h-full px-3 pb-4 overflow-y-auto bg-[#DFDFDE] pt-20 dark:bg-[#121212] transition-colors duration-1000"
      >
        <ul class="space-y-2">
          <li class="mb-6">
            <form action="/profile/search" method="get">
              <label
                for="default-search"
                class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
                >Search</label
              >
              <div class="relative">
                <input
                  name="username"
                  type="search"
                  id="default-search"
                  class="block w-full p-2 pl-10 text-sm transition-colors duration-1000 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-[#1c1c1c] dark:border-gray-600 dark:placeholder-gray-300 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Search"
                  required
                />
                <button
                  type="submit"
                  class="z-2 absolute inset-y-0 left-0 flex items-center pl-3"
                >
                  <svg
                    aria-hidden="true"
                    class="w-5 h-5 text-gray-500 dark:text-gray-400"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                    ></path>
                  </svg>
                </button>
              </div>
            </form>
          </li>
          <li>
            <a
              href="/post/posts"
              class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
            >
              <svg
                aria-hidden="true"
                class="w-6 h-6 text-gray-800 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path>
                <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path>
              </svg>
              <span class="ml-3">Home</span>
            </a>
          </li>

          <li>
            <a
              href="/chat"
              class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
            >
              <svg
                aria-hidden="true"
                class="flex-shrink-0 w-6 h-6 text-gray-800 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M8.707 7.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l2-2a1 1 0 00-1.414-1.414L11 7.586V3a1 1 0 10-2 0v4.586l-.293-.293z"
                ></path>
                <path
                  d="M3 5a2 2 0 012-2h1a1 1 0 010 2H5v7h2l1 2h4l1-2h2V5h-1a1 1 0 110-2h1a2 2 0 012 2v10a2 2 0 01-2 2H5a2 2 0 01-2-2V5z"
                ></path>
              </svg>
              <span class="flex-1 ml-3 whitespace-nowrap">Inbox</span>
              <span
                class="inline-flex items-center justify-center w-3 h-3 p-3 ml-3 text-sm font-medium text-blue-800 bg-white rounded-full dark:bg-purple-800 dark:text-white"
                >3</span
              >
            </a>
          </li>
          <li>
            <a
              href="/profile"
              class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
            >
              <svg
                aria-hidden="true"
                class="flex-shrink-0 w-6 h-6 text-gray-800 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                  clip-rule="evenodd"
                ></path>
              </svg>
              <span class="flex-1 ml-3 whitespace-nowrap">Account</span>
            </a>
          </li>
          <% if(userData.admin){ %>
          <li>
            <a
              href="/admin/"
              class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700"
            >
              <div class="ml-[2px] text-gray-800 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white">
                <i class="fa-solid fa-shield-halved fa-lg"></i>
              </div>

              <span class="flex-1 ml-3 whitespace-nowrap">Admin</span>
            </a>
          </li>
          <% } %>
        </ul>
      </div>
    </aside>
    <!--sm:ml-64 margin-left > 16rem important -->
    <div
      class="sm:ml-56 md:ml-[256px] mt-[75px] main-container sm:mt-[66px] dark:text-white flex flex-col bg-[#DFDFDF] dark:bg-[#1c1c1c] transition-colors duration-1000"
    >
      <%- include(main) %>
    </div>

    <script src="/../javascript/helpers/emojiPicker.js"></script>
    <script>
      new EmojiPicker({
        trigger: [
          {
            selector: '.second-btn',
            insertInto: '.two',
          },
        ],
        closeButton: true,
        //specialButtons: green
      })
      </script>

    <script src="/../javascript/helpers/LoginSignUpHelpers.js"></script>
    <script src="/javascript/helpers/convertToBase64.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
    <script src="/../javascript/DarkLighButton.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
      ></script>
      <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
      ></script>
    <script src="/../javascript/addPost.js"></script>
    <script src="/../javascript/helpers/UserHelpers.js"></script>
    <script src="/javascript/updatePassword.js"></script>
    <script src="/javascript/editProfile.js"></script>
  </body>
</html>
